@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'Montserrat';
  src: url(/fonts/Montserrat-Regular.otf);
}


body{
  background-color: #eff2ff;
  font-family: 'Montserrat' !important;
  font-style: normal;
  width: 85%; /*if the browser gets too small, this makes sure there is still space*/
  margin: 0 auto;
  padding-bottom: 50px;
  font-weight: bold;
}

/*------------Navbar-------------*/
.navbar-nav a{
  font-size: 30px;
  color: #4B36C8;
  transition: all 0.3s ease 0s;
}

.navbar-nav a:hover{
  transform: translateY(-3px);
  color: #9282F4;
}

.current{
  text-decoration-line: underline;
  text-decoration-thickness: 5px;
}

/*------------Greetings Card-------------*/
.greetings{
  position: relative;
  background: #8371F3;
  box-shadow: 0px 4px 15px 2px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding-left: 26px;
  padding-top: 18px;
  margin-top: 51px;
  transition: all 0.3s ease 0s;
  animation: pop 0.3s linear 1;
  padding-bottom: 18px;
  height: 200px;
}


.greetings h1{
  font-weight: 700;
  font-size: 50px;
  color: #fff;
  line-height: 73px;
  margin: 0px;
}

.greetings p{
  font-weight: 400;
  font-size: 25px;
  color: #fff;
  line-height: 36px;
  margin-bottom: 0px;
}

.greetings:hover, .gcont:hover{
  transform: translateY(-10px);
}

.carousel-item{
  height: 200px;
}
.carousel-indicators{
  margin-top: 10px;
}
/*------------Date-------------*/
.date-card{
  padding-top: 50px;
  color: #8371F3;
  font-size: 25px;
}

.date-card h1{
  color: #4B36C8;
  font-size: 50px;
  line-height: 50px;
  font-weight: 700;
}

.girl{
  position: relative;
  top: -150px;
  left: 100px
}

.firstrow{
  height: 250px;
}

.time{
  width: 150px;
}

/*------------Gauges-------------*/

.humidity, .temperature, .water{
  font-size: 25px;
  width: 400px;
  height: 249px;
  color: #fff;
  background: #C8C0F9;
  box-shadow: 0px 4px 15px 2px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 15px;
  margin-right: 15px;
}

.gaugerow{
  margin-top: 50px;
  margin-left: 5px;
}
.gauges h3{
  font-weight: 700;
  margin-bottom: 0;
}

.hcont, .tcont, .wcont, .headcont{
  display: inline-flex;
}

#hlogo{
  position: relative;
  margin-left: 30px;
  margin-top: 15px;
}

#tlogo{
  position: relative;
  margin-top: 15px;
  margin-left: 40px;
}

#wlogo{
  position: relative;
  margin-left: 20px;
  margin-bottom: 50px;
}
.gauges :hover{
  color: #4B36C8;
  transition: 0.5s;
}

.gauge-container {
  width: 170px;
  height: 170px;
  display: block;
  float: left;
  padding: 10px;
  border-radius: 12px;
  position: relative;
}
.gauge-container > .label {
  position: absolute;
  right: 0;
  top: 0;
  display: inline-block;
  color: rgb(47, 227, 255);;
  font-size: 0.8em;
  padding: 5px 10px;
  border-top-right-radius: 12px;
}
.gauge-container > .gauge .dial {
  stroke: #ffffff;
  stroke-width: 13;
  fill: rgba(0,0,0,0);
}
.gauge-container > .gauge .value {
  stroke: #E3A862;
  stroke-width: 13;
  fill: rgba(0,0,0,0);
}
.gauge-container > .gauge .value-text {
  fill: #4B36C8;
  font-weight: bold;
  font-size: 30px
}
.gcont{
  transition: all 0.3s ease 0s;
}


/*.hcont img, .tcont img, .wcont img{
  place-self: center;
}*/

.graph{
  margin-top: 53px;
  max-width: 1200px;
  height: 470px;
  box-sizing: border-box;
  box-shadow: 0px 4px 15px 2px rgba(0, 0, 0, 0.25);
  position: relative;
  margin-left: 20px;
}

#chart-temperature{
  width: 100%;
}

#chart-water{
  height: 265px;
  place-self: center;
}

.headcont{
  display: flex;
  justify-content: space-between;
}

.info{
  position: relative;
  top: 0;
  right: 0;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.info:hover{
  filter: brightness(125%);
}



/*----------------------Pop-up cards----------------------*/
.hpopup, .tpopup, .wpopup{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 600px;
  padding: 20px;
  padding-right: 30px;
  background: #8371F3;
  box-shadow: 0px 8px 30px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-top: -25px;
  transition: visibility 0s, opacity 0.5s linear;
  text-align: center;
  line-height: 36px;
}



.hpopup p, .tpopup p, .wpopup p{
  margin-top: 20px;
  font-weight: 500;
  font-size: 25px;
  color: #fff;
  line-height: 36px;
}

.hpopup > * , .tpopup > *, .wpopup > *{
  margin: 15px 0px;
}

.popbold{
  font-weight: 700;
}
.hpopup .hclose-btn, .tpopup .tclose-btn, .wpopup .wclose-btn{
  position: absolute;
  font-size: 40px;
  top: -10px;
  right: 10px;
  background: none;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
}

body.active-popup{
  overflow: hidden;
}

body.active-popup .main{
  filter: blur(5px);
  background: rgba(0, 0, 0, 0.08);
  transition:filter 0ms ease-in-out 0ms;
}

body.active-popup .popup{
  top: 50%;
  opacity: 1;
  margin-top: 0px;
  transition: top 0ms ease-in-out 0ms, 
              opacity 300ms ease-in-out, 
              margin-top 300ms ease-in-out;
}

.table{
  color: #fff;
}

.table td{
  font-weight: 500;
}

.main{
  transition: filter 0ms ease-in-out 300ms;
}
/*---------------------- Responsiveness ----------------------*/
@media only screen and (max-width: 600px) {
  .firstrow{
    width: 100%; /*Makes girl logo and clock go to a new row at 1000 pixels*/
  }
  .greetings{
    text-align: center;
    padding-right: 25px;
  }

  .greetings h1{
    padding-top: 14px;
    font-size: 35px;
    line-height: 40px;
  }

  .greetings p{
    padding-top: 5px;
    line-height: 25px;
    font-size: 18px;
  }

  #tlogo{
    margin-left: 35px;
  }
  #hlogo{
    margin-left: 25px;
  }

  #wlogo{
    margin-left: 25px;
  }
  /**/
  #hlogo, #tlogo, #wlogo{
    width: 130px;
    height: 130px;
    margin-top: 30px;
  }

}

  @media only screen and (max-width: 1600px){
  .gcont{
    margin-bottom: 35px;
    width: 375px;
    height: 225px;     /*eeeeeeeeeeeeeeeeeeeeeee*/
  }

  .gauge-container{
    width: 150px;
    height: 150px;
  }

  #hlogo, #tlogo, #wlogo{
    width: 120px;
    height: 120px;
  }
  #wlogo{
    margin-top: 10px;
  }
}

@media only screen and (max-width: 1420px){
  .gcont{
    margin-bottom: 35px;
    width: 350px;
    height: 200px;     /*eeeeeeeeeeeeeeeeeeeeeee*/
  }

  .girl{
    width: 274px;
    height: 180px;
    top: -100px;
    left: 75px;
  }
}


@media only screen and (max-width: 1350px){
  .greetings{
    padding-right: 15px;
  }
  .gcont{
    margin-bottom: 35px;
    width: 330px;
    height: 180px;     /*eeeeeeeeeeeeeeeeeeeeeee*/
  }

  .gauge-container{
    width: 130px;
    height: 130px;
  }

  #hlogo, #tlogo, #wlogo{
    width: 100px;
    height: 100px;
  }
  #wlogo{
    margin-top: 10px;
  }
}

@media only screen and (max-width: 1255px) {
  .girl{
    width: 274px;
    height: 180px;
    top: -100px;
    left: 75px;
  }

  .gcont{
    margin-bottom: 35px;
    width: 310px;
    height: 180px;     /*eeeeeeeeeeeeeeeeeeeeeee*/
  }

  .gauge-container{
    width: 110px;
    height: 110px;
  }

  #hlogo, #tlogo, #wlogo{
    width: 100px;
    height: 100px;
  }

  #wlogo{
    margin-top: 10px;
  }
}

@media only screen and (max-width: 1255px) {
  .gcont{
    width: 290px;
  }
}

@media only screen and (max-width: 1110px) {
  .date{
    font-size: 22px;
  }

  .date-card h1{
    font-size: 40px;
  }

  .girl{
    width: 214px;
    height: 150px;
    top: -90px;
    left: 40px;
  }

  .greetings h1{
    font-size: 30px;
  }

  .greetings{
    padding-top: 0px;
  }

  .greetings p{
    font-size: 20px;
  }
  .gcont{
    width: 270px;
    height: 160px;
  }
  #hlogo, #tlogo, #wlogo{
    width: 80px;
    height: 80px;
    margin-left: 15px;
  }

  .info{
    width: 20px;
    height: 20px;
  }
}

@media only screen and (max-width: 1110px) {
  .gcont{
    width: 250px;
  }

  .gcont h3{
    font-size: 22px
  }
}

@media only screen and (max-width: 1050px) {
    .gcont{
      width: 220px;
    }
    .gauge-container{
      width: 90px;
      height: 90px;
    }

    .date{
      font-size: 20px;
    }

    .date-card h1{
      font-size: 38px;
    }
}

@media only screen and (max-width: 870px) { /*go back to bigger sizing*/
  .hpopup, .tpopup, .wpopup{
    width: 70%;
  }
  .gcont{
    width: 400px;
    height: 249px;
    font-size: 25px;
  }

  .girl{
    width: 314px;
    height: 220px;
    top: -150px;
    left: 100px
  }

  .gauge-container {
    width: 170px;
    height: 170px;
  }

  .firstrow{
    width: 100%; /*Makes girl logo and clock go to a new row at 1000 pixels*/
  }

  #tlogo{
    margin-left: 35px;
  }
  #hlogo{
    margin-left: 25px;
  }

  #wlogo{
    margin-left: 25px;
  }
  /**/
  #hlogo, #tlogo, #wlogo{
    width: 130px;
    height: 130px;
    margin-top: 30px;
  }

  .gcont h3{
    font-size: 25px
  }

}


@media only screen and (max-width: 498px) {

  .girl{
    width: 200px;
    height: 150px;
    top: -100px;
    left: 70px;
  }

  .date-card{
    margin-left: 30px;
  }
  #hlogo, #tlogo, #wlogo{
    width: 100px;
    height: 100px;
  }

  .wcont, .hcont, .tcont {
    width: 130px;
    height: 130px;
  }

  .gauge-container{
    width: 130px;
    height: 130px;
  }
  #tlogo{
    margin-left: 20px;
    margin-top: 20px;
  }

  #wlogo{
    margin-top: 15px;
    margin-left: 12px;
  }

  #hlogo{
    margin-left: 15px;
  }
  .gcont{
    height: 200px;
    width: 300px;
  }

  .greetings{
    padding-left: 15px;
  }

}



.dcontainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}
.dash {
  margin: 0 15px;
  width: 35px;
  height: 15px;
  border-radius: 8px;
  background: #6610f2;
  box-shadow: 0 0 10px 0 #ba9cea;
}

.uno {
  margin-right: -18px;
  transform-origin: center left;
  animation: spin 3s linear infinite;
}

.dos {
  transform-origin: center right;
  animation: spin2 3s linear infinite;
  animation-delay: .2s;
}

.tres {
  transform-origin: center right;
  animation: spin3 3s linear infinite;
  animation-delay: .3s;
}

.cuatro {
  transform-origin: center right;
  animation: spin4 3s linear infinite;
  animation-delay: .4s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(360deg);
  }
  30% {
    transform: rotate(370deg);
  }
  35% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin2 {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-180deg);
  }
  35% {
    transform: rotate(-190deg);
  }
  40% {
    transform: rotate(-180deg);
  }
  78% {
    transform: rotate(-180deg);
  }
  95% {
    transform: rotate(-360deg);
  }
  98% {
    transform: rotate(-370deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes spin3 {
  0% {
    transform: rotate(0deg);
  }
  27% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(180deg);
  }
  45% {
    transform: rotate(190deg);
  }
  50% {
    transform: rotate(180deg);
  }
  62% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  80% {
    transform: rotate(370deg);
  }
  85% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin4 {
  0% {
    transform: rotate(0deg);
  }
  38% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-360deg);
  }
  65% {
    transform: rotate(-370deg);
  }
  75% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/* Responsiveness

@media screen and (min-width:750px){
  .gauges{
    display: inline-flex;
  }
} */
